<div class="row">
  <div class="col-xs-12">
    <img [src]="selectedPlace.imagePath" alt="{{selectedPlace.name}}" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedPlace.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropDown>
      <button 
        type="button" 
        class="btn btn-primary dropdown-toggle">
        Manage Places <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click) = addToDealList() style = "cursor: pointer;">To Deal List</a></li>
        <li><a style = "cursor: pointer;" [routerLink] = "['edit']">Edit Place</a></li>
        <li><a style = "cursor: pointer;" (click) = deleteFromPlaceList()>Delete Place</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
      {{selectedPlace.description}}
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let hotel of selectedPlace.hotels">
          {{ hotel.name }} - {{ hotel.noOfDeals }}
        </li>
      </ul>
    </div>
  </div>