<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Place Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button 
        type="button" 
        class="btn btn-primary dropdown-toggle">
        Manage Places <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To Deal List</a></li>
        <li><a href="#">Edit Place</a></li>
        <li><a href="#">Delete Place</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Description
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      Hotels
    </div>
  </div>