<div class="row">
  <div class="col-xs-12">
    <img [src]="(selectedPlaceState | async).places[id].imagePath" 
    alt="{{(selectedPlaceState | async).places[id].name}}" 
    class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{(selectedPlaceState | async).places[id].name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropDown>
      <button 
        type="button" 
        class="btn btn-primary dropdown-toggle">
        Manage Places <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click) = addToDealList() style = "cursor: pointer;">To Deal List</a></li>
        <li><a style = "cursor: pointer;" [routerLink] = "['edit']">Edit Place</a></li>
        <li><a style = "cursor: pointer;" (click) = deleteFromPlaceList()>Delete Place</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
      {{(selectedPlaceState | async).places[id].description}}
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item"
         *ngFor="let hotel of (selectedPlaceState | async).places[id].hotels">
          {{ hotel.name }} - {{ hotel.noOfDeals }}
        </li>
      </ul>
    </div>
  </div>